.custom-card {
    width: 660px;
    margin: 10px auto;
    box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.3);
}

.custom-card:hover {
    transform: translateY(-5px); 
    box-shadow: -4px -4px 16px rgba(0, 0, 0, 0.3); 
}

mat-card-title, p{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}

mat-card-title{
    color: #994599;

}