<div class="center-content">
<mat-card class="custom-card">
    <mat-card-header>
      <mat-card-title>Aplicação em Angular</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        O objetivo da atividade é para que possamos praticar em casa e testar o que aprendemos em sala. 
     </p>
     <p>
        Assim tivemos como desafio criar quatro componentes: Home, Sobre, Cadastro e NotFound.
        Cada um deles possui informações diferente, nas seguintes páginas terão informações basicas sobre o aluno (acredito que eu) e a criação de um formulário para adicionar dados. 
        Caso seja acessada uma rota inesistente também deve haver uma mensagem de erro.
     </p>

    </mat-card-content>
  </mat-card>
  
  <mat-card class="custom-card">

    <mat-card-header>
      <mat-card-title>Tecnologias Utilizadas</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        Angular: Framework para desenvolvimento de aplicações web.
     </p>
      <p>
        Angular Material: Biblioteca de componentes para estilização e interface do usuário.
     </p>
    </mat-card-content>

  </mat-card>
</div>
