<div class="center-content">

  <mat-card class="custom-card">

    <mat-card-header>
      <mat-card-title class="card-title">Dados do Aluno</mat-card-title>
    </mat-card-header>

    <mat-card-content id="card-contente">
      <p class="subtitle"><strong>Nome:</strong></p>
      <p>Emanuelle Lorrany Barros das Silva</p>

      <p class="subtitle"><strong>RA:</strong></p>
      <p>233942023</p>

      <p class="subtitle"><strong>Curso:</strong></p>
      <p>Análise e Desenvolvimento de Sistemas</p>

      <p class="subtitle"><strong>Biografia:</strong></p>
      <p>Aluna do Centro Universitário ENIAC. Nascimento no interior do Maranhão, lugar residente até os 17 anos de idade.
         Atualmente cursando TI em Guarulhos, mas morando em Arujá.
      </p>
    </mat-card-content>
  </mat-card>
  
</div>
