<!-- Barra de Navegação ---> 
<mat-toolbar color="primary">

  <h1 class="titleNav">{{ title }}</h1>

  <div class="menu-container">
      <button  mat-button>   
          <a routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </button>
      <button  mat-button>
          <a routerLink="/Sobre" routerLinkActive="ativo">Sobre</a>
      </button>
      <button  mat-button>
          <a routerLink="/cadastro" routerLinkActive="ativo">Cadastro</a>
      </button>

  </div>

</mat-toolbar>

<router-outlet></router-outlet>
